html,body {
    font-family: Arial, sans-serif;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

header h1 {
    font-weight: bold;
}

.card-title {
    font-size: 1.5rem;
}

footer {
    font-size: 0.9rem;
}

.btn-primary {
    background-color: darkgreen;
    border-color: black;
}
.carousel-inner img {
  height: 600px;           /* or smaller, like 300px */
  object-fit: cover;
  object-position: center;
}

.carousel {
    position: relative;
    margin-bottom: 2rem;
    z-index:5;
}
#transparent-logo {
    width:6rem;
}

#navbar-container {
    position: relative;
    z-index: 10;
}

.carousel-inner img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.carousel-inner {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}