body {
    font-family: Arial, sans-serif;
}

header h1 {
    font-weight: bold;
}

.card-title {
    font-size: 1.5rem;
}

footer {
    font-size: 0.9rem;
}

.btn-primary {
    background-color: darkgreen;
    border-color: black;
}